.cardContainer{
  margin: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 30em;
  width: 20em;
  border-radius: 1em;
  text-transform: capitalize;
  background-color: #FFF;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.cardContainerBack{
  margin: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 30em;
  width: 20em;
  border-radius: 1em;
  text-transform: capitalize;
  background-color: #FFF;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  transform: rotateY(180deg);
}

.front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1em;
}

.back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #000;
  transform: rotateY(180deg);
  border-radius: 1em;
  color: #FF69B4;
}

.cardHeader {
  font-size: 1.2em;
  font-weight: 600;
  height: 20%;
  max-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardMain {
  height: 60%;
  max-height: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
}

.cardMain2 {
  height: 60%;
  max-height: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.cardMain2 div label{
  font-weight: 600;
}

.cardMain2 div:nth-child(1){
  width: 100%;
  height: 30%;
  text-align: justify;
}

.cardMain2 div:nth-child(2){
  width: 100%;
  height: 70%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
}

.cardMain div {
  width: 45%;
  margin: 1em;
  width: 100%;
  text-overflow: ellipsis;
}


.cardInfo {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}


.cardInfo span {
  font-size: 1.2em;
  margin: 0.2em;
}

.cardFooter {
  height: 20%;
  max-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardFooter button, .cardFooter div {
  height: 3em;
  width: 12em;
  background-color: #FF69B4;
  transition: all 0.5s ease;
  border: 0.1em solid #000;
  font-size: 1em;
}

.cardFooter div{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.cardFooter div a{
  width: 50%;
  height: 100%;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-in-out;
}

.cardFooter button:hover{
  background-color: #000;
  color: #FF69B4;
  border-color: #FF69B4;
  cursor: pointer;
}

.cardFooter div:hover{
  background-color: #000;
  border-color: #FF69B4;
  cursor: pointer;
  color: #FF69B4;
}

.cardFooter div:hover a{
  color:#FF69B4;
}

.cardFooter div a:hover{
  color: #ffc0cb;
}